*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --main-color:#B4D0E7;
    --btn-bg:#0061FF;
    --btn-color:white;
    --btn-padding:10px 15px;
    --section-top-spacing:120px;
    --titles-spacing:2.5rem;
    --paragraph-spacing: 2rem;
    --section-font-title: 2rem;
    --card-content-spacing: 1rem;
    --icon-spacing: 5px;
}

.container{
    max-width: 920px;
    margin: auto;
}

.container-xl{
    max-width: 1100px;
}


header nav{
    padding: 1.5rem 0;
    padding-left: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
}


nav ul li a{
    text-decoration: none;
    color: black;
    padding-right: 2rem;
}


.left-nav{
    display: flex;
    align-items: center;
}
.left-nav img{
    padding-right: 2rem;
}

.right-nav{
    padding-right:2rem ;
}

#start-btn{
    color: var(--btn-color);
    padding: 6px 12px;
    background-color: var(--btn-bg);
}

.hero-section{
    width: 100%;
    padding-top:3rem;
    background-color: var(--main-color);
}

.hero-section h1{
    line-height: 5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: var(--titles-spacing);
}

.hero-description{
    display: flex;
}

.hero-img{
    width: 70%;
}


.hero-text{
    width: 30%;
    position: relative;
}

.hero-text p{
    line-height: 25px;
}

.hero-img img{
    display:block;
    width: 100%;
}



.hero-text p button{
    border: none;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    padding: var(--btn-padding);
    margin: var(--paragraph-spacing) 0;
}

.hero-text i{
    font-size: 2.4rem;
    position: absolute;
    bottom: 80px;
}

.hero-section::after{
    display: block;
    content: "";
    width: 100%;
    height: 70px;
    background-color: white;
    margin-top: -70px;
}

main{
    padding-top: var(--section-top-spacing);
}

/* .account-plans  */h2{
    font-size: var(--section-font-title);
    padding-bottom: var(--titles-spacing);
}

.plan-checkbox span{
    padding-right:2rem;
}

.plan-checkbox{
    padding-bottom: var(--titles-spacing);
}

.sub-plans{
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
}

.card{
    flex-grow: 1;
    flex-basis: 0;
border: 1px solid rgb(207, 207, 207);
}

.card.bottom{
    flex-basis: 100%;
}
.card-content{
    font-size: 0.8rem;
    padding: 30px 25px;
}

.card-user{
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
}

.card-user i{
    padding-right: var(--icon-spacing);
}

.card-name{
    font-size:1.1rem;
}

.card-name,.card-price,.card-price div,.card-row{
    padding-top:var(--card-content-spacing);
}

.card-price{
    padding-bottom: 20px;
}
.card-price div{
    color: gray;
}
.card-info{
    padding-bottom: var(--titles-spacing);
}

.card-row{
    display: flex;
}

.card-row i{
    padding-right: var(--icon-spacing);
}

.subscribe-trial{
    text-align: center;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    padding: var(--btn-padding);
}

.subscribe-buy{
    padding: var(--paragraph-spacing) 0px;
}

.subscribe-buy::after{
    display: block;
    content: "";
    height: var(--paragraph-spacing);
    width: 30px;
    background-color: white;
    border-bottom: 1px solid rgb(189, 188, 188);
}


.card-bottom-info i{
    font-weight: 800;
    color: #0061FF;
}



.bottom-card{
    display: flex;
    justify-content: space-between;
}

.left-bottom-card{
    width: 65%;
}
.right-bottom-card{
    height: 100%;
    width: 25%;
}


.find-partner{
    padding-top: var(--section-top-spacing);
    padding-bottom: var(--section-top-spacing);
}

.row{
    display: flex;
}

.find-partner .col-img{
    flex-basis: 60%;
}
.find-partner .col-text{
    flex-basis: 40%;
}

.find-partner .col-img img{
width: 100%;
display: block;
}

.find-partner .col-text{
    padding: 40px;
}

.spacing{
    padding-bottom: var(--paragraph-spacing);
}

.find-partner .button{
    display: inline-block;
    padding: var(--btn-padding);
    border: 1px solid black;
}

.dropbox-business .row{
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropbox-business .col{
    display: flex;
    flex-direction: column;
    gap: var(--paragraph-spacing);
    flex-basis: calc(33.3% - 30px);
    padding-bottom: 20px;
}

.dropbox-business img{
    width: 100%;
    height: 100%;
}


.banner-section{
    padding-top: var(--section-top-spacing);
    padding-bottom: var(--section-top-spacing);
}

.banner-section a{
    color: #1F1FF0;
}


.banner-container{
    padding-top: var(--section-top-spacing);
    display: flex;
}

.square-container{
    flex-basis: 33.3%;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}

.banner{
    flex-basis: 50%;
    position: relative;
}

.banner.green{
    background-color: #A2D39B ;
/*     background-image: url(../img/designit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}
.banner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
    width: 50%;
}

.banner.darkred{
    background-color: #61082B;
}

.banner.lightblue{
    background-color:#0093CE;
}
.banner.red{
    background-color: #FF1C1C ;
}
.banner.red2{
    background-color: #D5001F;
}
.banner.lightblue2{
    background-color:#B4D0E7 ;
}
.banner.darkblue{
    background-color: #0D2481;
}
.banner.yellow{
    background-color: #FFD830;
}

.square-container.center{
    overflow: scroll;
    padding: 60px;
}
.square-container.center img{
    width: 100%;
    padding-bottom: 30px;
}
.banner-center p::before{
    margin-bottom:30px ;
    display: block;
    content: "";
    width: 50px;
    height: 4px;
    background-color: white;
    border-bottom: 1px solid rgb(189, 187, 187);
}

.banner-center p{
    padding-bottom: 30px;
}



.banner-bottom-section{
    background-color: var(--main-color);
    padding:var(--section-top-spacing) 0;
}

.dropbox-business-free-trial{
    display: flex;
    justify-content: space-between;
}

.dropbox-business-free-trial h2{
    color: #61082B;
    flex-basis: 45%;
    padding: 0;
}

.dropbox-business-free-trial .button{
    background-color: white;
    height: 100%;
    display: inline-block;
    padding: var(--btn-padding);
}


.dropbox-faq{
padding-bottom: var(--section-top-spacing);
}

.faq-row{
    display: flex;
    justify-content: space-between;
    padding: var(--paragraph-spacing) 0;
}

.faq-row i{
    margin-right: 40px;
}


footer{
    padding: 5rem 0;
    width: 100%;
    color: white;
    background-color: black;
}

.footer-row{
    display: flex;
    gap: 40px;
}

.footer-row .col{
    flex-basis: 0;
    flex-grow: 1;
}

.footer-row h3{
    padding-bottom: var(--paragraph-spacing);
}

.col ul li{
    list-style: none;
}

.col ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding-bottom: var(--card-content-spacing);
}

.footer-row .first::after{
    display: block;
    content: "";
    height:calc(var(--titles-spacing) - var(--card-content-spacing)) ;
    width: 100px;
    background-color: black;
    border-bottom: 1px solid grey;
}

.select-lang{
    display: flex;
    align-items: center;
    padding-top: var(--paragraph-spacing);
}

.select-lang > div{
    padding-right: 10px;
}