*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --main-color:#B4D0E7;
    --btn-bg:#0061FF;
    --btn-color:white;
    --btn-padding:10px 15px;
    --section-top-spacing:3rem;
    --titles-spacing:2.5rem;
    --paragraph-spacing: 1.5rem;
    --section-font-title: 2rem;
    --card-content-spacing: 1rem;
    --icon-spacing: 5px;
}

.container{
    width: 920px;
    margin: auto;
}

.container-xl{
    width: 1000px;
}


header nav{
    padding: 1.5rem 0;
    padding-left: 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
}


nav ul li a{
    text-decoration: none;
    color: black;
    padding-right: 2rem;
}


.left-nav{
    display: flex;
    align-items: center;
}
.left-nav img{
    padding-right: 2rem;
}

.right-nav{
    padding-right:2rem ;
}

#start-btn{
    color: var(--btn-color);
    padding: 6px 12px;
    background-color: var(--btn-bg);
}

.hero-section{
    width: 100%;
    padding-top: var(--section-top-spacing);
    background-color: var(--main-color);
}

.hero-section h1{
    line-height: 5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: var(--titles-spacing);
}

.hero-description{
    display: flex;
}

.hero-img{
    width: 60%;
}

.hero-img img{
    display: inline-block;
    height: 450px;
}


.hero-text{
    width: 40%;

}

.hero-text p button{
    border: none;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    padding: var(--btn-padding);
    margin: var(--paragraph-spacing) 0;
}

.hero-section::after{
    display: block;
    content: "";
    width: 100vw;
    height: 70px;
    background-color: white;
    margin-top: -70px;
}

main{
    padding-top: var(--section-top-spacing);
}

.account-plans h2{
    font-size: var(--section-font-title);
    padding-bottom: var(--titles-spacing);
}

.plan-checkbox span{
    padding-right:2rem;
}

.plan-checkbox{
    padding-bottom: var(--titles-spacing);
}

.sub-plans{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
}

.card{
width: calc(33.3% - 50px);
border: 1px solid rgb(207, 207, 207);

}

.card-content{
    font-size: 0.8rem;
    padding: 30px 25px;
}

.card-user{
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
}

.card-user i{
    padding-right: var(--icon-spacing);
}

.card-name{
    font-size:1.1rem;
}

.card-name,.card-price,.card-price div,.card-row{
    padding-top:var(--card-content-spacing);
}

.card-price{
    padding-bottom: 20px;
}
.card-price div{
    color: gray;
}
.card-info{
    padding-bottom: var(--titles-spacing);
}

.card-row{
    display: flex;
}

.card-row i{
    padding-right: var(--icon-spacing);
}

.subscribe-trial{
    text-align: center;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    padding: var(--btn-padding);
}

.subscribe-buy{
    padding: var(--paragraph-spacing) 0px;
}

.subscribe-buy::after{
    display: block;
    content: "";
    height: var(--paragraph-spacing);
    width: 30px;
    background-color: white;
    border-bottom: 1px solid rgb(189, 188, 188);
}


.card-bottom-info i{
    font-weight: 800;
    color: #0061FF;
}

.card.contact{
    width: 100%;
}

.bottom-card{
    display: flex;
    justify-content: space-between;
}

.left-bottom-card{
    width: 65%;
}
.right-bottom-card{
    height: 100%;
    width: 25%;
}